.text-animation {
  text-align: center;
  overflow: hidden;
} 
  .text-animation__text {
    overflow: hidden;
  }
  .text-animation__text span {
    display: inline-block;
    opacity: 0;
  }

.text-animation.animate .text-animation__text span{
  transform: translate3d(0px, 0vw, 0px) rotate(0) !important;
  opacity: 1;
}

.text-animation.animate {
  animation-name: rotateEntireWord;
}

.single-char {
  white-space:pre;
}


